/* Estilos globais */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Contêiner principal */
.login_body {
    padding: 20px;
    max-width: 450px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

/* Título do formulário */
.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
    padding-top: 20px;
}

/* Campos de entrada */
.login_body input {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

/* Botão de envio */
.login_body button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: red;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Links e opções de suporte */
.support {
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 12px;
    margin-bottom: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.help a {
    text-decoration: none;
    color: #737373;
}

.login_footer {
    color: #737373;
    font-size: 13px;
    margin-top: 20px;
}

.login_footer a {
    text-decoration: none;
    color: #0071eb;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 480px) {
    .login_body {
        width: 90%;
    }
}
